* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(47, 7, 66);
}

header {

    color: white;
}


.menu {
    margin-top: 40px;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 100%;
    padding-top: 20px;
    padding-left: 15px;
}

#nota {
    width: 270px;
}

#area {
    display: block;
    width: 370px;
    height: 250px;
    margin-top: 15px;
    border: 2px gray solid;
    overflow: auto;


}

#media {
    margin-top: 25px;

}
#media p {
    background-color: red;
}

.resultado{
    margin-top: 15px;
    
}

p {
  margin: 0;
  padding: 4px 0;
}
